<!DOCTYPE html>

<html>
    <head xmlns:th="http://www.thymeleaf.org" th:replace="layouts/layout_base::head">
        <title>Insert title here</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav th:fragment="pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:each="item : ${page.paginas}" th:class="${item.actual? 'page-item active' : 'page-item'}">
                    <span class="page-link " th:if="${item.actual}" th:text="${item.numero}" aria-current="page"></span>
                    <a class="page-link" th:if="${not item.actual}" th:href="@{${page.url}(page=${item.numero-1})}" th:text="${item.numero}"></a>


                </li>
            </ul>
        </nav>
    </body>
</html>
