<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head xmlns:th="http://www.thymeleaf.org" th:replace="layouts/layout_base::head">
        <title>Acceso denegado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="row m-0 justify-content-center aling-items-center vh-100">
            <div class=" text-center col-sm-12 col-md-4 col-lg-3 col-xl-3 m-5">
                <div>
                    <h1>Acceso denegado</h1> 
                </div>
                <br>
                <br>
                <img th:src="@{img/acceso_denegado.jpg}" />

                <br>
                <br>
                <br>
                <a href="/">Volver al inicio</a>
            </div>
        </div>
    </body>
</html>
